In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import asc
from pyspark.sql.functions import isnan

In [19]:
spark = SparkSession.builder.appName('metro_year').getOrCreate()
# couple ways of setting config
#spark.conf.set("spark.executor.memory", '8g')
spark.conf.set('spark.executor.cores', '3')
#spark.conf.set('spark.cores.max', '3')
#spark.conf.set("spark.driver.memory", '8g')

In [20]:
file_path = '../L2_Data_Wrangling_Spark/data/cities.csv'
df = spark.read.csv(file_path, header=True)

In [21]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- coords: string (nullable = true)
 |-- start_year: string (nullable = true)
 |-- url_name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- country_state: string (nullable = true)

In [22]:
df.count()

334

In [23]:
df.select(['start_year', 'country']).orderBy(asc('start_year')).show()

+----------+-------------+
|start_year|      country|
+----------+-------------+
|      null|    Argentina|
|      null|        Spain|
|      null|    Argentina|
|      1806|United States|
|      1832|United States|
|      1833|      England|
|      1835|      England|
|      1840|        Italy|
|      1842|        Italy|
|      1846|     Scotland|
|      1848|        Spain|
|      1850|        Chile|
|      1854|    Australia|
|      1854|    Argentina|
|      1855|        Chile|
|      1858|    Australia|
|      1858|       Brazil|
|      1859|     Portugal|
|      1860|       Brazil|
|      1862|       France|
+----------+-------------+
only showing top 20 rows

In [24]:
df = df.dropna(how='any', subset='start_year')

In [25]:
df.select(['start_year', 'country']).dropDuplicates().orderBy(asc('start_year')).show()

+----------+-------------+
|start_year|      country|
+----------+-------------+
|      1806|United States|
|      1832|United States|
|      1833|      England|
|      1835|      England|
|      1840|        Italy|
|      1842|        Italy|
|      1846|     Scotland|
|      1848|        Spain|
|      1850|        Chile|
|      1854|    Australia|
|      1854|    Argentina|
|      1855|        Chile|
|      1858|       Brazil|
|      1858|    Australia|
|      1859|     Portugal|
|      1860|       Brazil|
|      1862|       France|
|      1872|     Colombia|
|      1872|        Japan|
|      1874|        Japan|
+----------+-------------+
only showing top 20 rows